body {
    padding: 10px;
}

.headers {
    font-family: Verdana, sans-serif;
    color: rgb(65, 50, 30);
    text-align: center;
    font-size:xx-large;
}

.sub-label {
    color:  rgb(67, 44, 15);
}

#active-listings{
    border: 2px solid rgba(255, 235, 205, 0.778);
    border-radius: 5px;
    background-color: rgba(109, 91, 57, 0.401);
    box-shadow: 0px 7px 7px #888888;
}

.listings_box{
    border: 1px solid rgba(56, 52, 45, 0.778);
    height: 250px;
    max-width: 1140;
    box-shadow: 4px 4px 4px #d6d6d6a5;
    color: rgb(77, 47, 37);
    background-color: rgba(147, 134, 115, 0.778);
}

.listing_box_title{
    text-decoration: none;
    color: rgb(77, 47, 37);
}

.listing_box_title:hover{
    color: rgb(53, 33, 26);
    text-decoration: underline;
    text-decoration-color: rgb(53, 33, 26);
}

.listing_box_img{
    padding: auto;
}

.listing_page_box{
    border: 1px solid rgba(56, 52, 45, 0.778);
    box-shadow: 4px 4px 4px #d6d6d6a5;
    color: rgb(77, 47, 37);
    background-color: rgba(147, 134, 115, 0.778);
}

.listing_page_img{
    max-width: 500px;
    margin: auto;
}

.description{
    text-indent: 4em;
}

.listing_page_det{
    font-size:medium;
    font-weight: 450;
    text-indent: 1em;

}

.listing_page_det_title{
    text-indent: 4em;
    width: 200px;
}

.bid_war_title{
    text-indent: 4em;
    margin-top: 2px;
    width: 300px;
}

.bid_war_det{
    border: 1px solid rgba(255, 235, 205, 0.778);
    border-radius: 2px;
    outline: 1px solid rgba(56, 52, 45, 0.778);
    padding: 1px;
    width: 150px;
    text-align: center;
    height: 30px;
    font-weight: 600;
    color: gold;
}

.bid_war_det_user{
    border: 1px solid rgba(255, 235, 205, 0.778);
    border-radius: 2px;
    outline: 1px solid rgba(56, 52, 45, 0.778);
    padding: 1px 10px 1px 10px;
    min-width: 150px;
    text-align: center;
    height: 30px;
    font-weight: 600;
    color: gold;
}

.sold{
    color: rgb(15, 109, 15);
}

.unsold{
    color: maroon;
}

.bid_war_input{
    border: 1px solid rgba(255, 235, 205, 0.778);
    border-radius: 2px;
    outline: 1px solid rgba(56, 52, 45, 0.778);
    background-color: rgb(213, 198, 178);
    margin-right: 10px;
}

.bid_war_button{
    border: 3px solid rgba(85, 80, 70, 0.949);
    border-radius: 2px;
    outline: 1px solid rgba(56, 52, 45, 0.778);
    background-color: rgb(149, 131, 111);
    box-shadow: 0px 2px 5px rgba(94, 87, 75, 0.778);
    color: gold
}

.bid_war_button:hover{
    background-color: rgb(98, 89, 79);
    outline: 2px solid rgba(194, 180, 157, 0.29);
    border: 3px solid rgb(98, 89, 79);
}

.auc_close_button{
    border: 3px solid rgba(85, 80, 70, 0.949);
    border-radius: 2px;
    outline: 1px solid rgba(56, 52, 45, 0.778);
    background-color: rgba(155, 58, 43, 0.922);
    box-shadow: 0px 2px 5px rgba(94, 87, 75, 0.778);
    color: gold;
}

.auc_close_button:hover{
    background-color: rgba(137, 51, 37, 0.922);
    outline: 2px solid rgba(194, 180, 157, 0.29);
    border: 3px solid rgba(136, 51, 38, 0.922);
}


.no_watchlists{
    margin-top: 30px;
    text-align: center;
    color: rgb(77, 47, 37);
}

.other_listing_buttons{
    border: 3px solid rgba(85, 80, 70, 0.949);
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
    outline: 1px solid rgba(56, 52, 45, 0.778);
    background-color: rgb(149, 131, 111);
    box-shadow: 0px 2px 5px rgba(94, 87, 75, 0.778);
    color: gold
}

.other_listing_buttons:hover{
    background-color: rgb(98, 89, 79);
    outline: 2px solid rgba(194, 180, 157, 0.29);
    border: 3px solid rgb(98, 89, 79);
}

.comments_name{
    font-weight: 700;
    font-size: 17px;
}

.comments{
    text-indent: 3em;
}

.horiz_line{
    border-top: 1px solid #8c857b;
    margin: auto;
}

.comment_line{
    border: none;
    background: none;
    margin-left: 5px;
    width: 800px;
    font-size: 16px;
    color: rgb(61, 38, 30);
    border-bottom: 1px solid rgba(74, 69, 60, 0.778);
    transition: 0.3s ease;
    resize: none;
    overflow: hidden;
    padding-bottom: 0px;
}

.comment_line:focus {
    outline: none;
    border-bottom: 1px solid rgb(41, 38, 33);
}

.comment_label{
    margin-left: 10px;
    font-weight: 600;
}