{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}
    <div class="container listing_page_box">
        <!--top section-->
        <h1 class="headers">{{ listing.title }}</h1>
        <div class="row m-3">
            {% if listing.img_url %}
                <img src="{{ listing.img_url }}" class="listing_page_img card-img-top" alt="{{ listing.title }}">
            {% else %}
                <img src="https://via.placeholder.com/1280x840.png?text=No+Image+Available" class="listing_page_img card-img-top" alt="{{ listing.title }}">
            {% endif %}
            
        </div>
        <div class="row m-3">
            <h4>Description:</h4>
            <p class="description">{{ listing.description }}</p>
        </div>
        <!--buttons-->
        {% if user.is_authenticated %}
            {% if listing in watchlist %}
                <div class="row m-3">
                    <form action="{% url 'remove_watchlist' listing.title %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="bid_war_button">Remove from Watchlist</button>
                    </form>
                </div>
            {% else %}
                <div class="row m-3">
                    <form action="{% url 'add_watchlist' listing.title %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="bid_war_button">Add to Watchlist</button>
                    </form>
                </div>
            {% endif %}
        {% endif %}
        <!--details-->
        <div class="m-3">
            <h4>Details: </h4>
            <div class="row m-1">
                <div class="listing_page_det_title"><h5>Minimum Bid:</h5></div>
                <p class="listing_page_det">${{ listing.min_bid }}</p>
            </div>
            <div class="row m-1">
                <div class="listing_page_det_title"><h5>Listed by:</h5></div>
                {% if listing.listed_user == user %}
                    <p class="listing_page_det">(YOU)</p>
                {% else %}
                    <p class="listing_page_det">{{ listing.listed_user }}</p>
                {% endif %}
            </div>
            <div class="row m-1">
                <div class="listing_page_det_title"><h5>Category:</h5></div>
                <p class="listing_page_det">{{ listing.category }}</p>
            </div>
            {% if listing.status %}
                <div class="row m-1">
                    <div class="listing_page_det_title"><h5>Status:</h5></div>
                    <p class="listing_page_det">Active</p>
                </div>
                {% if user.is_authenticated %}
                    <div class="row m-1">
                        <div class="listing_page_det_title"><h5>Winner:</h5></div>
                        <p class="listing_page_det">No Winner Yet! (May be Your time to Bid and Grab).</p>
                    </div>
                {% else %}
                    <div class="row m-1">
                        <div class="listing_page_det_title"><h5>Winner:</h5></div>
                        <p class="listing_page_det">No Winner Yet! ("Log in" to Bid!).</p>
                    </div>
                {% endif %}

            {% else %}
                <div class="row m-1">
                    <div class="listing_page_det_title"><h5>Status:</h5></div>
                    <p class="listing_page_det">Closed</p>
                </div>
                {% if listing.winner %}
                    <div class="row m-1">
                        <div class="listing_page_det_title"><h5>Winner:</h5></div>
                        <p class="listing_page_det sold">"{{ listing.winner }}"</p>
                    </div>
                {% else %}
                    <div class="row m-1">
                        <div class="listing_page_det_title"><h5>Winner:</h5></div>
                        <p class="listing_page_det unsold">"Unsold"</p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <!--Bid-->
        <div class="m-3">
            <h4>Bid War: </h4>
            <!--also coded for the auction closed state-->
            <div class="row m-1">
                {% if listing.status %}
                    <div class="bid_war_title"><h5>Current Highest Bid:</h5></div>
                    {% if listing.highest_bid %}
                        <div class="bid_war_det"><p>{{ listing.highest_bid.bid_amount }}</p></div>
                        <h5> -by- </h5>
                        {% if listing.highest_bid.user == user %}
                            <div class="bid_war_det_user"><p>(YOU)</p></div>
                        {% else %}
                            <div class="bid_war_det_user"><p>{{ listing.highest_bid.user }}</p></div>
                        {% endif %}
                    {% else %}
                        <div><p class="bid_war_det">"No Bids Yet"</p></div>
                    {% endif %}
                {% else %}
                    {% if listing.winner %}
                        <div class="sold" style="text-indent: 4em;"><h5>Auction Closed and {{ listing.winner }} Grab the product for ${{ listing.higest_bid.bid_amount }} </h5></div>
                    {% else %}
                        <div class="unsold" style="text-indent: 4em;"><h5>Auction Closed and The Product is "UNSOLD".</h5></div>
                    {% endif %}
                {% endif %}
            </div>
            {% if user.is_authenticated and user != listing.listed_user %}
                <form action="{% url 'bid' listing.title %}" method="post">
                    {% csrf_token %}
                    <div class="row m-1">
                        <div class="bid_war_title"><h5>Bid:</h5></div>
                        {% if listing.highest_bid %}
                            <input type="number" class="bid_war_input" step="0.01" style="width: auto;" min="{{ listing.highest_bid.bid_amount }}" name="user_bid" id="user_bid" aria-describedby="User Bid" placeholder="${{ listing.highest_bid.bid_amount }}">
                        {% else %}
                            <input type="number" class="bid_war_input" step="0.01" style="width: auto;" min="{{ listing.min_bid }}" name="user_bid" id="user_bid" aria-describedby="User Bid" placeholder="${{ listing.min_bid }}">
                        {% endif %}
                        <button type="submit" class="bid_war_button">Bid</button>
                    </div>
                    {% if bid_error %}
                        <div style="margin-left: 300px;"> 
                            <p style="color: red;">{{ bid_error }}</p>
                        </div>
                    {% endif %}
                </form>
            {% endif %}
        </div>

    </div>
{% endblock %}