{% extends "auctions/layout.html" %}

{% block body %}
    
    <div id="active-listings">
        <h2 class="headers">{{ category }}</h2>
    </div>
    
    <div class="container">

        {% for listing in listings %}

            {% if listing.status %}
                <div class="row m-3 listings_box">
                    <div class="col-md-4" style="padding-top: 14px;">
                        {% if listing.img_url %}
                            <a href="{% url 'listing' listing.title %}"><img src="{{ listing.img_url }}" class="img-fluid rounded-start" alt="{{ listing.title }}"></a>
                        {% else %}
                            <a href="{% url 'listing' listing.title %}"><img src="https://via.placeholder.com/1280x840.png?text=No+Image+Available" class="img-fluid rounded-start" alt="{{ listing.title }}"></a>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <a href="{% url 'listing' listing.title %}" class="listing_box_title"><h3>{{ listing.title }}</h3></a>
                        <h4>Minimum Bid: ${{ listing.min_bid }}</h4>
                        <h6>Description: </h6>
                        <p class="description">{{ listing.description|truncatechars:350 }}</p>
                    </div>
                </div>
            {% endif %}

        {% empty %}
                <h1 class="nope">No Listing in This Category!</h1>
        {% endfor %}

    </div>
    
{% endblock %}